.all-centered {
	width: 100vh;
	width: 100%;
	margin: auto;
}

/* Custom navigation bar */ 

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	display: inline-block;
	margin-right: 1px;
}


.img-responsive {
	margin: 0 auto;
}

.vertical-center { /* Code from StackOverflow user Hashem Qolami at 
	<http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap> 
	currently not in use */
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

